<!-- 学生个人信息 -->
<!DOCTYPE html个人
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<%-include('link.ejs')%>
</head>
<body>

	<div class="container-fluid">
		<%-include('t_top.ejs')%>

		<div class="row" style="margin-top: 50px">
			<%-include('t_list.ejs')%>

			<div class="col-lg-9">

				<div class="card">
					<div class="card-body">
						<div>
							<div class="alert alert-primary" role="alert">
								<h2>个人信息</h2>
							  </div>
							<div class="row">
								<div class="col-lg-8">
									<ul class="list-group list-group-flush">
										<li class="list-group-item"><h5>姓名： <%=list[0].username%></h5></li>
										<li class="list-group-item"><h5>账号： <%=list[0].number%></h5></li>
										<li class="list-group-item"><h5>性别： <%=list[0].sex%></h5></li>
										<li class="list-group-item"><h5>专业： <%=list[0].major%></h5></li>
										<li class="list-group-item"><h5>联系方式： <%=list[0].phone%></h5></li>
									  </ul>
									
							


								</div>

								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
